/* GENERAL STYLES*/

ul{
  list-style: none;
  -webkit-padding-start: 0px;
}

.row {
   margin-right: 0px;
   margin-left: 0px;
}

a
{
  color: white;
}

a :hover
{
  color: white !important;
  opacity: .7;
  text-decoration: none;
}

/* HEADER STYLES */
.top-brand{
  max-width: 70px;
  position: relative;
  top: -4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: black;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: black;
}

.navbar-default {
  background-color: black;
  border-color: black;
  border-radius: 0;
}

.navbar {
  margin-bottom: 0px;
}

#product-list{
  display: none;
  background: black;
  padding: 50px;

}

/* CONTENT STYLE */
#content{
  height: 500px;
}

.thumbnail{
  border: 0;
}

/* FOOTER STYLES */

footer{
  background: black;
  color: white;
  padding: 70px;
}

footer ul{
  padding-bottom: 50px;
}




/* HOME PAGE STYLES*/

/* HERO STYLES */

#hero{
  background: black;
  padding-bottom: 75px;
}

#hero .solo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}

#hero .title{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}

#hero .buy-now{
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 1000%;
  max-width: 185px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  transition: .5s;
}

#hero .buy-now:hover{
  background: #85c441;
  border: 1px solid #85c441;

}

/* CATEGORY STYLES */

#categories{
  color: white;
  background: black;
  text-align: center;
}

#categories h3{
  position: relative;
  top: 45%;
}

a .diy-area{
  color:white !important;
  transition: .5s;
}

.diy-area{
  background-image: url('../images/X8.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.category:hover{
  opacity: .7;
}

a .parts-area{
  color:white !important;
  transition: .5s;
}
.parts-area{
  background-image: url('../images/parts.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

a .merch-area{
  color:white !important;
  transition: .5s;
}

.merch-area{
  background-image: url('../images/shirt.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

a .clearance-area{
  color:white !important;
  transition: .5s;
}

.clearance-area{
  background-image: url('../images/unnamed.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}


/* PRODUCT PAGE STYLES!!!! */

#product-hero{
  background:#eee;
  padding-bottom:50px;
}

.carousel-control {
 padding-top: 5%;
}

#product-hero .product-name{
  border-bottom: 2px solid black;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 100px;
  letter-spacing: 2px;
}

.product-image{
  width: 100%;
}


/* PRODUCT IMAGES */


.active-thumbnails{
  padding-top: 40px;
  padding-bottom: 76px;
}

#photo-one{
 background-image: url('../product-images/1.jpg');
 height:75px;
 background-size:cover;
}

#photo-two{
  background-image: url('../product-images/2.jpg');
  height:75px;
  background-size:cover;
}

#photo-three{
  background-image: url('../product-images/3.jpg');
  height:75px;
  background-size:cover;
}
#photo-four{
  background-image: url('../product-images/4.jpg');
  height:75px;
  background-size:cover;
}

#frequency-button-area{
  width: 100%;
  max-width: 223px;
  position: relative;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -15px;
}

.frequency-button-two{
  left: -20px;
  position: relative;
}

.frequency-button{
  color: #333333;
  border: 1px solid #333333;
  padding: 11px;
  max-width: 82px;
  transition: .5s;
  background: none;
}

.frequency-button:hover{
  color: white;
  background: #333333;
}

.active-button{
  color: white;
  background: #333333;
}

.buy-meow {
  color: white;
  background: #5FBE8C;
  padding: 17px;
  max-width: 111px;
  transition: .5s;
}

.buy-meow a {
  color: white;
  text-decoration: none;
}

.buy-meow:hover {
  opacity: .7;
  text-decoration-color: transparent !important;
}

.availability{
  padding-bottom: 20px;
  padding-top: 18px;
}

.no-underline{
  text-decoration: none !important;
}

/*PRODUCT DESCRIPTION STYLES */

.gray-title{
  color: gray;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

#product-description{
  padding-top: 50px;
}

.product-description-image{
  width: 100%;
  padding-top: 70px;
}

.half-controller{
  background-image: url('../product-images/controller-full-width.jpg');
  height: 500px;
  background-position: -808px 0px;
  background-repeat: no-repeat;
}

/* SLIDER STYLES */

.carousel {
	margin-bottom: 0;
}

.carousel-control {

}
.carousel-control.right {

}

.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
  position: relative;
}

.carousel-indicators li {
	background: #c0c0c0;
}

#myCarousel .fa{
  font-size: 41px;
  color: white;
  position: relative;
  top: 105px;
}

#myCarousel a{
  color: #333333;
  text-align:center;
  transition: 1s;
  text-decoration: none;
}

#myCarousel a:hover {
  opacity: .7;
}

.carousel-indicators .active {
background: #333333;
}


/* MOBILE STYLES */

@media screen and (max-width: 990px) {
  #product-hero .product-name{
        margin-top: 0px;
    }
  #myCarousel .fa{
    font-size: 41px;
    color: white;
    position: relative;
    top:70px;
  }

}

@media only screen and (min-width : 1200px) {
  #myCarousel .fa{
    font-size: 41px;
    color: white;
    position: relative;
    top:60px;
  }
}
